data/single-mode/MS-DIAL-output-example.txt filter=lfs diff=lfs merge=lfs -text
data/double-mode/data-positive.txt filter=lfs diff=lfs merge=lfs -text
data/double-mode/data-negative.txt filter=lfs diff=lfs merge=lfs -text
